{% extends 'base.html.twig' %}


{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div>
		<h1>Bienvenue sur mon premier site Web réalisé avec Symfony</h1>

		<h3>Réalisé par: Jacob Bélisle</h3>
	</div>
{% endblock %}
